@font-face {
    font-family: "disneyfont";
    src: url("Fuentes/disneyfont.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4eee2;
}

.fondo {
    width: 100%;
    height: 98vh;
    background-color: #f4eee2;
    object-fit: contain;
    animation: opacity 0.8s ease, filter 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.inicio {
    opacity: 0;
    filter: blur(10px);
    transform: scale(1, 0);
}

.encabezado {
    height: 110px;
    display: flex;
    justify-content: space-between;
    background-color: #e7decb;
    box-shadow: 5px 5px 10px #000000;
}

.encabezado img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 10px;
    transition: 0.5s ease-in-out;
}

.encabezado img:hover {
    filter: drop-shadow(1px 1px 1px black);
    transform: scale(0.9);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    gap: 10px;
}

.menu a {
    margin-right: 10px;
    text-decoration: none;
    font-family: "disneyfont", sans-serif;
    font-size: 28px;
    color: #000000;
    transition: all 1s ease-in-out;
}

.btn_menu {
    padding-bottom: 5px;
}

.btn_menu:hover {
    border-bottom: 5px solid black;
}

.btn_pixar {
    padding: 10px;
    background: #7da9d8;
    border-radius: 10px;
    color: #ffffff !important;
}

.btn_pixar:hover {
    border-bottom: 5px solid;
    border-bottom: 5px solid #798c9f;
}

/* Home */

.carrusel {
    box-shadow: 10px 10px 15px #000000;
}

.carrusel img {
    height: 600px;
    object-fit: cover;
}

/* Clásicos */

.contenedor_clasicos {
    width: 95%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.clasicos {
    width: 300px;
    height: 550px; 
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    color: white;
    box-shadow: 0 0 15px rgba(255,255,255,.1);
    animation: mover 2s linear forwards;
    opacity: 0;
    animation-timeline: view();
    animation-range: entry 0;
}

@keyframes mover {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.clasicos:hover{
    transform: translateY(-150px);
    box-shadow: 0 0 25px rgba(255,255,255,.3);
}

.clasicos img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.clasicos h1{
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.clasicos h2{
    margin-top: 5px;
    font-size: 18px;
}

.clasicos p{
    padding: 15px;
    color: #000000;
    line-height: 1.5;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.img7 {
    grid-area: img7;
}


.galeria {
    width: 85%;
    height: 90%;
    margin: 45px auto;
    display: grid;
    grid-template-areas: 
    "img1 img1 img6 img6 img7 img7"
    "img1 img1 img6 img6 img2 img2"
    "img5 img3 img3 img4 img2 img2"
    "img5 img3 img3 img4 img2 img2";
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,250px);
    gap: 10px;
    padding: 0 10%;
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
    transition: 1s ease-in-out;
}

.galeria img:hover {
    transform: scale(0.9);
    box-shadow: 3px 2px 5px rgb(0, 0, 0);
}

/* Contactos */ 

.Contactos_body {
    background-image: url("../src/Fondos/Fondo_contactos.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

.contenedor_contactos {
    width: 750px;
    height: 750px;
    border-radius: 10px;
    background-color: #f6f6f6;
    padding: 20px;
    margin: 50px auto;
    display: flex;
    box-shadow: 5px 5px 10px #0e0c0c;   
}

.contenedor_contactos img {
    border-radius: 20px 0 0 20px;
    width: 150px;
}

form {
    padding: 20px;
    width: 100%;
}

form label {
    font-family: "disneyfont", sans-serif;
    font-size: 28px;
    color: #000000;
}

form input {
    font-size: 18px;
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
    padding: 10px;
}

form textarea {
    font-size: 18px;
    width: 100%;
    height: 190px;
    border-radius: 15px;
    margin: 15px 0;
    padding: 10px;
}

form button {
    height: 40px;
    width: 100%;
    border-radius: 15px;
    background-color: #E11B22;
    font-family: "disneyfont", sans-serif;
    font-size: 28px;
    color: #ffffff;
    transition: 0.5s ease-in-out;
}

form button:hover {
    background: linear-gradient(to right, #83120a, #E11B22);
    transform: scale(1);
    box-shadow: 1px 1px 3px rgb(89, 88, 88);
}

footer {
    height: 120px;
    background: #e7decb;
    width: 100%;    
    padding: 15px;
}

.infofooter { 
    display: flex;
    justify-content: center;
}

.infofooter img {
    margin: 0px;
    height: 85px;
    width: auto;
    transition: 0.5s ease-in-out;
}

.infofooter img:hover {
    filter: drop-shadow(1px 1px 1px black);
    transform: scale(1.1);
}

.infofooter p {
    margin: 35px;
    font-family: 20px;
    line-height: 25px;
    color: #000000;
}
